

    body{
      height:100vh;
      background:linear-gradient(135deg,#4facfe,#00f2fe);
      overflow:hidden;
      align-items: center;
    }

     /* Main Content */
    .main-content{
      display:flex;
      justify-content:center;
      align-items:center;
      height:100vh;
      /* color:#fff; */
      font-size:40px;
      font-weight:bold;
    }
    