

    body{
      height:100vh;
      background:linear-gradient(135deg,#4facfe,#00f2fe);
      overflow:hidden;
      align-items: center;
    }

     /* Main Content */
    .main-content{
      display:flex;
      justify-content:center;
      align-items:center;
      height:100vh;
      /* color:#fff; */
      font-size:40px;
      font-weight:bold;
    }
    

    .tooltip {
  position: absolute;
  top: 45px;
  right: 0;

  background: #1e293b;
  color: white;

  padding: 6px 10px;
  border-radius: 6px;

  font-size: 12px;
  white-space: nowrap;

  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}